<%= react_component('Navbar', {current_user: current_user}) %>
<p>React-Rails</p>
<p>GeoCoder</p>
<p>GMaps4Rails</p>
<p>Google Maps API</p>
<img src="<%= asset_path('googlemapslogo.jpg') %>" >

<p>Twilio API</p>
<img src="<%= asset_path('twilio2.jpg') %>" >
<p>Twilio on Rails API</p>
<p>BootStrap</p>

