.form-signin img {
    width: 30%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 20px;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

form h1 {
    font-family: 'Fredoka One', cursive;

}

.pass {
position: relative;
right: 17.2px;
}