.form-signin img {
    width:35%;
    margin: 0 auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

form h1 {
    font-family: 'Fredoka One', cursive;

}

.pass {
position: relative;
right: 1%;
}