.nav-link {
  position: relative;
  top: 22px;
  margin: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color:white;
 }

 .nav-item a {
   text-transform: capitalize;
 }
 
 .nav-item a:hover {
  transition: background-color 300ms ease-in, color 300ms ease-in;
  background-color: #ffaf06;
  color: black;
  border-radius: 15px;
  border-width: 3px;
 }
 
 .navbar {
  background-color:black;
 }

.dropdown-menu {
  border-radius: 5px;
}

.dropdown-item{
  font-family: 'Poppins', sans-serif;
}