nav {
  background-color: black;
 }
 
 .nav-link {
  position: relative;
  top: 24px;
  margin: 12px;
  font-family: 'Fredoka One';
  font-size: 1.7em;
  color: rgb(18, 20, 22);
 
 
 }
 
 .nav-item a:hover {
  transition: background-color 400ms ease-in, color 400ms ease-in, box-shadow 400ms ease-in;
  background-color: #ffaf06;
  color: black;
  // box-shadow: 0 0 25px rgb(169, 169, 169);
  border-radius: 15px;
  border-width: 5px;
 }
 
 
 .navbar {
  background-color: #e5efef;
 }
 
 .navbar-nav {
  position: relative;
  left: 20%;
 }
 .logout {
  position: relative;
  left: 390%;
 }