.signupform {
    width: 800px;
    margin: 0 auto;
}

.register {
    margin-bottom: 1%;
}
.register img {
    width: 50%;
    margin: 3%;
    border-radius: 100px;
}

.phone {
    position: relative;
    left: 1.23%;

}

.email {
    position: relative;
    left: 18px;

}

.password {
    position: relative;
    left: 0%;

}

.cpassword {
    position: relative;
    left: -4.5%;

}
