.register img {
    width: 50%;
    margin: 5%;
    border-radius: 100px;
}

.phone {
    position: relative;
    left: 1.1%;

}

.email {
    position: relative;
    left: 18px;

}

.password {
    position: relative;
    left: 0%;

}

.cpassword {
    position: relative;
    left: -2.5%;

}