.stack img {
    width: 200px;
}

.stack {
    list-style: none;
}

.stack li {
    margin: 3%;
}

.stack h1 {
    font-family: 'Poppins';
}

.wish h1 {
    font-family: 'Fredoka One', cursive;
    text-decoration: underline;
}

.wish h3 {
    font-family: 'Poppins';
}