<div style='width: 800px;'>
    <div id='school_markers' style='width: 800px; height: 400px;'></div>
</div>

<script>


handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'school_markers'}}, 

    function(){

        
            
        var schoolmarkers = handler.addMarkers([<%=raw @fake_location1.to_json %>, <%=raw @fake_location2.to_json %>, <%=raw @fake_location3.to_json %>, <%=raw @fake_location4.to_json %>])

        handler.bounds.extendWith(schoolmarkers);
        handler.fitMapToBounds()
        handler.getMap().setZoom(12);


    }
);


</script>