<%= react_component 'Navbar' %>
<h1>All possible drivers</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Avatar</th>
                <th>Start Point</th>
                <th>End Point</th>
                <th>Trip Date</th>
                <th>Time Slot</th>
                <th>Spots Available</tr>
            </tr>
        </thead>
        <tbody>
            <%= render 'drivertrip' %>
            <%= render 'googlemaps'%>
        </tbody>
    </table>
</div>






