<%= react_component('Navbar', {current_user: current_user}) %>

<h1 class="possibledriver" >All available drivers</h1>
<div class="container">
    <table class="table table-striped thead-dark table-hover" >
        <thead>
            <tr>
                <th >Avatar</th>
                <th style ="width: 6%">First Name</th>
                <th>Last Name</th>
                <th style ="width: 15%">Start Point</th>
                <th style ="width: 15%">End Point</th>
                <th style ="width: 10%">Trip Date</th>
                <th style ="width: 16%">Time Slot</th>
                <th>Spots Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%= render 'drivertrip' %>
            <%= render 'googlemaps'%>
        </tbody>
    </table>
</div>






